/* || GENERAL STYLES */

#root {
    width: 1100px;
    max-width: 100%;

    font: 16px system-ui;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);

    margin: 0 auto;
    padding: 16px;
    
    background: repeating-linear-gradient(
        to bottom,
        white 0px,
        white 2px,
        #f0f0f0 2px,
        #f0f0f0 4px
    );

    border-radius: 16px;
}

body {
    background: white;
}

/* GENERAL BUTTONS */

button {
    border: 1px solid transparent;
    border-radius: 999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    --body-start: #ffffff;
    --body-middle: #d7d7d7;
    --body-end: #b4b4b4;

    --border-start: #bababa;
    --border-middle: #9b9b9b;
    --border-end: #636363;

    background:
        radial-gradient(
        ellipse 200% 100% at 50% 100%,
        var(--body-start),
        var(--body-middle),
        var(--body-end)
        ) padding-box,

        radial-gradient(
        ellipse 90% 100% at 50% 100%,
        var(--border-start),
        var(--border-middle),
        var(--border-end)
        ) border-box;
}

button .buttonlabel {
    color: black;
    padding: 0 12px;
    border-radius: 4px;

    font-weight: 500;

    /* highlight sections */
    --highlight-s1: rgba(213, 213, 213, 0.1);
    --highlight-s2: rgba(178, 178, 178, 0.1);
    --highlight-s3: rgba(112, 112, 112, 0.1);

    background: radial-gradient(
        ellipse 200% 100% at 50% 100%,
        var(--highlight-s1),
        var(--highlight-s2) 50%,
        var(--highlight-s3) 90%,
        rgba(255, 255, 255, 0.85) 100%
    );
}

button:active {
    --body-start: #c4c4c4;
    --body-middle: #a1a0a0;
    --body-end: #5d5d5d;

    --border-start: #a1a1a1;
    --border-middle: #707070;
    --border-end: #202020;
}

/* Update backend */
.postbutton {
  --body-start: #94efff;
  --body-middle: #5f92ff;
  --body-end: #1d64ff;

  --border-start: #5fc5dd;
  --border-middle: #285dcc;
  --border-end: #00329c;
}

/* Button highlight */
.postbutton .buttonlabel {
  /* highlight sections */
  --highlight-s1: rgba(240, 253, 255, 0.1);
  --highlight-s2: rgba(220, 240, 255, 0.1);
  --highlight-s3: rgba(193, 217, 255, 0.1);
}

.postbutton:active {
    --body-start: #72eaff;
    --body-middle: #4680ff;
    --body-end: #105cff;
}

/* GENERAL FORMS */

.loginform {
    /* display form items horizontally */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputfield {
    /* display label and input field horizontally */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input[type="email"],
input[type="password"] {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    padding: 4px 6px;
}

.inputfieldsubmit {
    /* make login button normal and right justified on desktop */
    align-self: flex-end;
    font-weight: bold;
}

/* LOGIN FORM */

.loginform {
    /* make form half width of parent on desktop */
    max-width: 50%;
}

/* || MOBILE GENERAL STYLES */
@media (max-width: 768px) {
    #root {
        /* don't pad content on mobile */
        margin: 0 0;
        padding: 0px;

        /* mobile sets general background to pinstripe */
        background: none;

        border-radius: 0px;

        font-size: 18px;
    }

    body {
        /* mobile sets general background to pinstripe */
        background: repeating-linear-gradient(
            to bottom,
            white 0px,
            white 2px,
            #f0f0f0 2px,
            #f0f0f0 4px
        );
    }

    .footer {
        justify-self: center;
    }

    /* BUTTONS */
    .postbutton .buttonlabel {
        padding: 4px;
        font-size: 1rem;
        font-weight: bold;
    }

    /* GENERAL FORMS */

    .inputfield {
        font-weight: bold;
    }

    .inputfieldsubmit {
        /* make submit button take up whole width */
        align-self: auto;
    }

    /* LOGIN FORM */

    .loginform {
        /* take up whole mobile screen */
        max-width: 100%;
    }
}